.searchbar-results-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: 'Varela Round';
  width: 50vw;
}

/* .search-bar {
  width: 50vw;
  border: 1px solid black;
  border-radius: 18px;
  height: 40px;
  padding: 18px;
  font-size: 18px;
} */

.search-bar:focus {
  border-style: none;
}

.input-icon-wrapper {
  background: white;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  height: 2.5rem;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  align-items: center;
  margin: auto;
}

input {
  background-color: transparent;
  height: 100%;
  width: 40vw;
  font-size: 1.15rem;
  margin-left: 5px;
  border: none;
}

input:focus {
  outline: none;
}

#search-icon {
  color: royalblue;
}