nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;

}

#welcome-text {
  position: fixed;
  top: 30px;
  left: 135px;
}

nav a {
  text-decoration: none;
  border: 1px solid red;
  border-radius: 8px;
  padding: 5px;
}

nav a:hover {
  background: red;
  color: white;
}


hr {
  border: 1px solid black; 
}