nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;


}

#welcome-text {
  color: red;
  position: absolute;
  top: 55px;
  left: 80px;
  font-size: 15px; 
}

nav a {
  color: white; 
  background-color: red;
  text-decoration: none;
  border: 1px solid red;
  border-radius: 10px;
  padding: 8px;
  font-weight: bolder;
  height: 40px; 
  display: flex; 
  justify-content: center;
  align-items: center;
  /* font-weight: 800; */
}

nav a:hover {
  background: blue;
  color: white;
}


hr {
  border: 1px solid red; 
}